doc/*.pdf
doc/grammar.html
!doc/tutorial.pdf
doc/tutorial/examples/*/dot/*.pdf
lib/etc/config
_build/
src/parser.output
src/grammar.tex
src/grammar-defns.sty
*.html
!doc/grammar.html
/config-stamp
*.o
*~
*.dot
*.pi
*.aux
*.dvi
*.log
*.toc
*.rel
.merlin
!tools/pi2hcl/examples/*.pi
!tools/pi2hcl/examples/sift/*.pi
tools/yuvutils/bin/*
tools/yuvutils/lib/*
tools/yuvutils/include/*
tools/yuvutils/src/*.a
tools/yuvutils/src/yuv2ppm
hocl.output
bin/
src/old/
src/obsolete/
examples/tofix/
examples/tosee/
.merlin
tools/pi2hcl/examples/*.hcl
tools/pi2hcl/examples/*.dot
examples/working/*/*/systemc/*.cpp
examples/working/*/*/systemc/*.h
examples/working/*/*/systemc/*.o
examples/working/*/*/systemc/main_sc
examples/working/*/*/dot/*.pdf
examples/working/*/*/xdf/*.xdf
examples/working/*/*/dif/*.dif
