doc/um
doc/tutorial
lib/etc/config
_build/
src/parser.output
src/grammar.tex
*.html
!doc/grammar.html
/config-stamp
*.o
*~
*.dot
*.pi
.merlin
!tools/pi2hcl/examples/*.pi
!tools/pi2hcl/examples/sift/*.pi
hocl.output
bin/
src/old/
src/obsolete/
examples/tofix/
examples/tosee/
.merlin
tools/pi2hcl/examples/*.hcl
tools/pi2hcl/examples/*.dot
examples/working/*/*/systemc/*.cpp
examples/working/*/*/systemc/*.h
examples/working/*/*/systemc/*.o
examples/working/*/*/systemc/main_sc
