type t;

actor g param (k: int) in (i: t) out (o: t);

graph sub param (k: int) in (i: t) out (o: t)
fun
  val o = g{k+1} i
end;

graph top param () in (i1: t, i2:t) out (o1: t, o2: t)
fun
  val ff n x = g{n+1} x
  val o1 = ff 1 i1  -- Parameter passing via a closure
  val o2 = sub{4} i2  -- Parameter passing via a graph parameter
end;
